<div class="container" style="width: 600px">
  <div>
    <h3 style="text-align: center">Upoad file</h3>
  </div>

  <div class="my-3">
    <form [formGroup]="fileForm">
      <div class="form-group">
        <label for="file">Excel File Only (With Submit Button)</label>
        <input
          type="file"
          class="form-control"
          id="file"
          name="file"
          formControlName="file"
          (change)="selectFile($event)"
          accept=".xlsx, .xls"
        />
      </div>
      <button
        (click)="uploadFile()"
        type="submit"
        class="btn btn-primary"
        [disabled]="!fileForm.valid"
      >
        Submit
      </button>
    </form>
  </div>

  <div class="my-3">
    <form [formGroup]="excelForm">
      <div class="form-group">
        <label for="file">Excel File Only (Without Submit Button)</label>
        <input
          type="file"
          class="form-control"
          multiple="false"
          formControlName="excel"
          (change)="onFileSubmit($event)"
          accept=".xlsx, .xls"
        />
      </div>
    </form>
  </div>

  <div class="my-2">{{ convertToJson }}</div>
  <div class="my-2">{{ data }}</div>
  <div class="my-2">
    <table>
      <thead>
        {{
          postedData
        }}
      </thead>
      <td>
        <tr>
          {{
            postedData
          }}
        </tr>
      </td>
    </table>
  </div>
</div>
