<div class="container" style="width: 600px">
  <div>
    <h3 style="text-align: center">Upoad file</h3>
  </div>
  <div class="container">
    <!-- <div class="my-3">
      <form [formGroup]="selectFileForm">
        <div class="row">
          <input
            type="file"
            class="form-control"
            id="file"
            name="file"
            formControlName="selectfile"
            (change)="selectFileData($event)"
            accept=".xlsx, .xls"
          />
        </div>
      </form>
    </div> -->
    <table>
      <thead>
        <tr>
          <th *ngFor="let key of sheetKey">
            {{ key }}
          </th>
        </tr>
      </thead>
    </table>
    <form [formGroup]="excelForm">
      <div class="row">
        <div class="row">
          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="leadTitle"
            >
              <option>{{ leadTitle }}</option>
            </select>
          </div>
          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="contactName"
            >
              <option>{{ contactName }}</option>
            </select>
          </div>
          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="leadSource"
            >
              <option>{{ leadSource }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="companyName"
            >
              <option>{{ companyName }}</option>
            </select>
          </div>

          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="product"
            >
              <option>{{ product }}</option>
            </select>
          </div>
          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="countryCode"
            >
              <option>{{ countryCode }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="email"
            >
              <option>{{ email }}</option>
            </select>
          </div>

          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="assignToTeamName"
            >
              <option>{{ assignToTeamName }}</option>
            </select>
          </div>
          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="assignToUserEmail"
            >
              <option>{{ assignToUserEmail }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="note"
            >
              <option>{{ note }}</option>
            </select>
          </div>

          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="address"
            >
              <option>{{ address }}</option>
            </select>
          </div>
          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="city"
            >
              <option>{{ city }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="state"
            >
              <option>{{ state }}</option>
            </select>
          </div>

          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="region"
            >
              <option>{{ region }}</option>
            </select>
          </div>

          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="postalCode"
            >
              <option>{{ postalCode }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="countryName"
            >
              <option>{{ countryName }}</option>
            </select>
          </div>

          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="Age"
            >
              <option>{{ Age }}</option>
            </select>
          </div>

          <div class="col">
            <div class="col">Column Name :</div>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="Salary"
            >
              <option>{{ Salary }}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="container">
          <button class="btn btn-primary" type="submit" (click)="updateExcel()">
            Select Rows
          </button>
        </div>
      </div> -->
    </form>
    <div class="my-3">
      <form [formGroup]="excelFileForm">
        <div class="row">
          <input
            type="file"
            class="form-control"
            id="file"
            name="file"
            formControlName="excelFile"
            (change)="updateData($event)"
            accept=".xlsx, .xls"
          />
        </div>
      </form>
    </div>
  </div>

  <div
    class="alert alert-danger my-3"
    role="alert"
    style="text-align: center"
    *ngIf="error"
  >
    {{ error }}
  </div>
  <div class="my-3">
    <form [formGroup]="fileForm">
      <div class="form-group">
        <label for="file">Excel File Only</label>
        <input
          type="file"
          class="form-control"
          id="file"
          name="file"
          formControlName="file"
          (change)="selectFile($event)"
          accept=".xlsx, .xls"
        />
      </div>
      <div class="container">
        <button
          (click)="uploadFileData()"
          type="submit"
          class="btn btn-primary"
          [disabled]="!fileForm.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>

  <div class="my-2">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="exportexcel()"
      [disabled]="!postedData"
    >
      Export to Excel
    </button>
  </div>
  <div class="my-2">{{ data }}</div>
</div>
<div>
  <table class="table" id="excel-table">
    <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col">leadTitle</th>
        <th scope="col">contactName</th>
        <th scope="col">leadSource</th>
        <th scope="col">companyName</th>
        <th scope="col">product</th>
        <th scope="col">countryCode</th>
        <th scope="col">email</th>
        <th scope="col">assignToTeamName</th>
        <th scope="col">assignToUserEmail</th>
        <th scope="col">note</th>
        <th scope="col">address</th>
        <th scope="col">city</th>
        <th scope="col">state</th>
        <th scope="col">region</th>
        <th scope="col">postalCode</th>
        <th scope="col">countryName</th>
        <th scope="col">Age</th>
        <th scope="col">Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of postedData; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.leadTitle }}</td>
        <td>{{ item.contactName }}</td>
        <td>{{ item.leadSource }}</td>
        <td>{{ item.companyName }}</td>
        <td>{{ item.product }}</td>
        <td>{{ item.countryCode }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.assignToTeamName }}</td>
        <td>{{ item.assignToUserEmail }}</td>
        <td>{{ item.note }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.state }}</td>
        <td>{{ item.region }}</td>
        <td>{{ item.postalCode }}</td>
        <td>{{ item.countryName }}</td>
        <td>{{ item.Age }}</td>
        <td>{{ item.Salary }}</td>
      </tr>
    </tbody>
  </table>
</div>
